In [2]:
import sqlite3
import pandas as pd

In [1]:
try:
    sqliteConnection = sqlite3.connect('Namaste_Task.db')
    cursor = sqliteConnection.cursor()
    print("Database created and Successfully Connected to SQLite")

    sqlite_select_Query = "select sqlite_version();"
    cursor.execute(sqlite_select_Query)
    record = cursor.fetchall()
    print("SQLite Database Version is: ", record)
    cursor.close()

except sqlite3.Error as error:
    print("Error while connecting to sqlite", error)
finally:
    if (sqliteConnection):
        sqliteConnection.close()
        print("The SQLite connection is closed")

Database created and Successfully Connected to SQLite
SQLite Database Version is:  [('3.31.1',)]
The SQLite connection is closed

In [2]:
try:
    sqliteConnection = sqlite3.connect('Namaste_Task.db')
    sqlite_create_table_query = '''CREATE TABLE Customers (
                                customer_id INTEGER PRIMARY KEY);'''

    cursor = sqliteConnection.cursor()
    print("Successfully Connected to SQLite")
    cursor.execute(sqlite_create_table_query)
    sqliteConnection.commit()
    print("SQLite table created")

    cursor.close()

except sqlite3.Error as error:
    print("Error while creating a sqlite table", error)
finally:
    if (sqliteConnection):
        sqliteConnection.close()
        print("sqlite connection is closed")

Successfully Connected to SQLite
SQLite table created
sqlite connection is closed

In [3]:
try:
    sqliteConnection = sqlite3.connect('Namaste_Task.db')
    sqlite_create_table_query = '''CREATE TABLE Products (
                                product_id INTEGER PRIMARY KEY UNIQUE,
                                line_id INTEGER,
                                product_SKU varchar(255),
                                product_name varchar(255),
                                product_price MONEY);'''

    cursor = sqliteConnection.cursor()
    print("Successfully Connected to SQLite")
    cursor.execute(sqlite_create_table_query)
    sqliteConnection.commit()
    print("SQLite table created")

    cursor.close()

except sqlite3.Error as error:
    print("Error while creating a sqlite table", error)
finally:
    if (sqliteConnection):
        sqliteConnection.close()
        print("sqlite connection is closed")

Successfully Connected to SQLite
SQLite table created
sqlite connection is closed

In [2]:
try:
    sqliteConnection = sqlite3.connect('Namaste_Task.db')
    sqlite_create_table_query = '''CREATE TABLE Orders (
                                Order_ID INTEGER PRIMARY KEY UNIQUE,
                                Order_date DATE,
                                customer_id INTEGER,
                                product_id INTEGER,
                                order_total MONEY);'''

    cursor = sqliteConnection.cursor()
    print("Successfully Connected to SQLite")
    cursor.execute(sqlite_create_table_query)
    sqliteConnection.commit()
    print("SQLite table created")

    cursor.close()

except sqlite3.Error as error:
    print("Error while creating a sqlite table", error)
finally:
    if (sqliteConnection):
        sqliteConnection.close()
        print("sqlite connection is closed")

Successfully Connected to SQLite
Error while creating a sqlite table table Orders already exists
sqlite connection is closed

In [5]:
def alterSqliteTable():
    try:
        sqliteConnection = sqlite3.connect('Namaste_Task.db')
        cursor = sqliteConnection.cursor()
        print("Connected to SQLite")

        sql_alter_query = """ALTER TABLE Orders 
                            ADD Rates DECIMAL"""
        cursor.execute(sql_alter_query)
        sqliteConnection.commit()
        print("Record Updated successfully ")
        cursor.close()

    except sqlite3.Error as error:
        print("Failed to update sqlite table", error)
    finally:
        if (sqliteConnection):
            sqliteConnection.close()
            print("The SQLite connection is closed")

alterSqliteTable()

Connected to SQLite
Record Updated successfully
The SQLite connection is closed

# Import CSV from Task I

In [3]:
df = pd.read_csv("task1.csv")

In [6]:
unique_customer = df.drop_duplicates(subset = ['order_customer.id'])


cols = [6]
customerdf = unique_customer[unique_customer.columns[cols]]
customerdf.columns = ['customer_id']

In [7]:
conn = sqlite3.connect('Namaste_Task.db')
c = conn.cursor()

customerdf.to_sql('Customers', conn, if_exists='replace', index = False)
 
c.execute('''  
SELECT * FROM Customers
          ''')

for row in c.fetchall():
    print (row)

(59933,)
(94720,)
(23955,)
(47178,)

In [8]:
unique_prods = df.drop_duplicates(subset = ['item_product_id'])
cols = [2,1,3,4,8]
productsdf = unique_prods[unique_prods.columns[cols]]
productsdf.columns = ['product_id','line_id','product_SKU','product_name','product_price']
productsdf.head()

,product_id,line_id,product_SKU,product_name,product_price
0,573794972,759658,SAGENSOUR-01,Sage N Sour Dried Flower,48.255804
1,694165761,771854,HYBTINC-03,Hybrid Blend THC Tincture,65.215129
2,477365777,317808,GOGPR-07,Glueberry OG Pre-Rolls,7.814335
3,278266679,997208,GPSTASH-01,Grandpa's Stash Dried Flower,65.215129
5,510650809,604665,PAX-3,Pax 3 Vaporizer,339.173462

In [9]:
conn = sqlite3.connect('Namaste_Task.db')
c = conn.cursor()

productsdf.to_sql('Products', conn, if_exists='replace', index = False)
 
c.execute('''  
SELECT * FROM Products
          ''')

for row in c.fetchall():
    print (row)

(573794972, 759658, 'SAGENSOUR-01', 'Sage N Sour Dried Flower', 48.255803572778994)
(694165761, 771854, 'HYBTINC-03', 'Hybrid Blend THC Tincture', 65.21512897007901)
(477365777, 317808, 'GOGPR-07', 'Glueberry OG Pre-Rolls', 7.814335317679)
(278266679, 997208, 'GPSTASH-01', "Grandpa's Stash Dried Flower", 65.21512897007901)
(510650809, 604665, 'PAX-3', 'Pax 3 Vaporizer', 339.173462311079)
(632910392, 610448, 'PPLEPUNCH20-05', 'Purple Punch 2.0 Dried Flower', 38.35416666774)

In [10]:
cols = [5,0,6,2,7,9]
ordersdf = df[df.columns[cols]]
ordersdf.columns = ['Order_ID','Order_date','customer_id','product_id','Rates','order_total']
ordersdf.head(10)

,Order_ID,Order_date,customer_id,product_id,Rates,order_total
0,7722055557038194,2020-01-01,59933,573794972,1.304563,48.255804
1,5825547264855968,2020-01-01,59933,694165761,1.304563,73.029464
2,5825547264855968,2020-01-01,59933,477365777,1.304563,73.029464
3,6255086600405590,2020-01-05,94720,278266679,1.304563,73.029464
4,6255086600405590,2020-01-05,94720,477365777,1.304563,73.029464
5,2366621613260728,2020-01-18,23955,510650809,1.304563,339.173462
6,1288301820842508,2020-01-19,23955,632910392,1.304563,38.354167
7,2212383088430312,2020-01-22,59933,694165761,1.304563,186.500397
8,2212383088430312,2020-01-22,59933,278266679,1.304563,186.500397
9,2212383088430312,2020-01-22,59933,573794972,1.304563,186.500397

In [11]:
conn = sqlite3.connect('Namaste_Task.db')
c = conn.cursor()

ordersdf.to_sql('Orders', conn, if_exists='replace', index = False)
 
c.execute('''  
SELECT * FROM Orders
          ''')

for row in c.fetchall():
    print (row)

(7722055557038194, '2020-01-01', 59933, 573794972, 1.3045634921, 48.255803572778994)
(5825547264855968, '2020-01-01', 59933, 694165761, 1.3045634921, 73.02946428775799)
(5825547264855968, '2020-01-01', 59933, 477365777, 1.3045634921, 73.02946428775799)
(6255086600405590, '2020-01-05', 94720, 278266679, 1.3045634921, 73.02946428775799)
(6255086600405590, '2020-01-05', 94720, 477365777, 1.3045634921, 73.02946428775799)
(2366621613260728, '2020-01-18', 23955, 510650809, 1.3045634921, 339.173462311079)
(1288301820842508, '2020-01-19', 23955, 632910392, 1.3045634921, 38.35416666774)
(2212383088430312, '2020-01-22', 59933, 694165761, 1.3045634921, 186.50039683061598)
(2212383088430312, '2020-01-22', 59933, 278266679, 1.3045634921, 186.50039683061598)
(2212383088430312, '2020-01-22', 59933, 573794972, 1.3045634921, 186.50039683061598)
(2212383088430312, '2020-01-22', 59933, 477365777, 1.3045634921, 186.50039683061598)
(8662976573169716, '2020-02-05', 94720, 477365777, 1.3284949651, 7.957684840949)
(2079640804901496, '2020-02-19', 23955, 477365777, 1.3223148148000001, 74.02318333250399)
(2079640804901496, '2020-02-19', 23955, 694165761, 1.3223148148000001, 74.02318333250399)
(1104846479586545, '2020-02-22', 94720, 573794972, 1.3223148148000001, 115.01494259130399)
(1104846479586545, '2020-02-22', 94720, 278266679, 1.3223148148000001, 115.01494259130399)
(7262170348080494, '2020-03-01', 94720, 573794972, 1.3677787533, 118.969395962034)
(7262170348080494, '2020-03-01', 94720, 278266679, 1.3677787533, 118.969395962034)
(8369263756632563, '2020-03-07', 47178, 632910392, 1.3677787533, 108.587955224487)
(8369263756632563, '2020-03-07', 47178, 278266679, 1.3677787533, 108.587955224487)
(7638742701884072, '2020-03-08', 59933, 632910392, 1.3677787533, 48.405690079287005)
(7638742701884072, '2020-03-08', 59933, 477365777, 1.3677787533, 48.405690079287005)
(4280852170163518, '2020-03-10', 23955, 477365777, 1.3677787533, 76.568254609734)
(4280852170163518, '2020-03-10', 23955, 694165761, 1.3677787533, 76.568254609734)
(6431399815998774, '2020-03-12', 23955, 278266679, 1.38113879, 436.39842347630014)
(6431399815998774, '2020-03-12', 23955, 477365777, 1.38113879, 436.39842347630014)
(5307192536865304, '2020-03-12', 47178, 278266679, 1.38113879, 120.13145195420002)
(5307192536865304, '2020-03-12', 47178, 573794972, 1.38113879, 120.13145195420002)
(6431399815998774, '2020-03-12', 23955, 510650809, 1.38113879, 436.39842347630014)
(2249838395290890, '2020-03-13', 47178, 510650809, 1.3858969741, 429.60034403151803)
(2249838395290890, '2020-03-13', 47178, 278266679, 1.3858969741, 429.60034403151803)
(5058732129957127, '2020-03-15', 59933, 278266679, 1.3858969741, 429.60034403151803)
(5058732129957127, '2020-03-15', 59933, 510650809, 1.3858969741, 429.60034403151803)
(9786845594710809, '2020-03-18', 59933, 632910392, 1.4403694897, 114.350933787283)
(9786845594710809, '2020-03-18', 59933, 694165761, 1.4403694897, 114.350933787283)
(5791957346866373, '2020-03-24', 47178, 573794972, 1.4494143687, 53.613837498213)
(5235927587417736, '2020-03-24', 94720, 573794972, 1.4494143687, 53.613837498213)